@import '../../styles/variables'

.button
  padding: 0 20px
  border-radius: 8rem
  height: 34px
  display: flex
  align-items: center
  justify-content: center
  color: $text
  background-color: $button
  cursor: pointer
  animation: enter 0.8s
  transition: all 0.4s

  &:disabled
    background-color: $button-disabled
    color: $white

  &:hover, &:focus
    background-color: $button-hover
    transform: scale(0.98)

.list
  display: flex
  align-items: center
  gap: 1rem

@keyframes enter
  0%
    transform: scale(0.8)

  100%
    transform: scale(1)
